*.log
*.sql
.htaccess
wp-config.php
robots.txt
prueba.php
backup*.zip
copy-wp-config.php
ajax/
dev/
prod/
act_wp-admin/
act_wp-includes/
node_modules/
bower_components/
wp-content/plugins/
wp-content/themes/
wp-content/uploads/
wordpress*.zip

############################
############################
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
############################
############################
# sublimetext
/*.sublime-project
*.sublime-workspace


